<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="data-spm" content="a219s6">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/static/ali/umi.css">
  <title>廉正合规举报</title>
</head>

<body class="report" data-spm="15226697">
  <div id="root">
    <section class="ant-layout siteLayout reportLayout">
      <main class="ant-layout-content">
        <div class="site-layout-content">
          <div class="reportWrap___s1d_p">
            <div class="anchorBox___21KAX">
              <div>
                <div class="" style="">
                  <div class="ant-anchor-wrapper" style="max-height: 100vh; width: 200px;">
                    <div class="ant-anchor">
                      <div class="ant-anchor-ink"><span class="ant-anchor-ink-ball" style="top: 10.5px;"></span></div>
                      <div class="ant-anchor-link"><a class="ant-anchor-link-title" href="https://aliyun.jubao.alibaba.com/report?spm=5176.28067139.J_9220772140.30.68327e31ORK2bo#reporterInfo" title="举报人基本信息">举报人基本信息</a></div>
                      <div class="ant-anchor-link"><a class="ant-anchor-link-title" href="https://aliyun.jubao.alibaba.com/report?spm=5176.28067139.J_9220772140.30.68327e31ORK2bo#reportedStaffInfo" title="被举报员工的基本信息">被举报员工的基本信息</a></div>
                      <div class="ant-anchor-link"><a class="ant-anchor-link-title" href="https://aliyun.jubao.alibaba.com/report?spm=5176.28067139.J_9220772140.30.68327e31ORK2bo#reportedBizOrgInfo" title="被举报的商业组织基本信息">被举报的商业组织基本信息</a></div>
                      <div class="ant-anchor-link"><a class="ant-anchor-link-title" href="https://aliyun.jubao.alibaba.com/report?spm=5176.28067139.J_9220772140.30.68327e31ORK2bo#reportContent" title="举报内容">举报内容</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="reports-content">
              <div class="reports-thead" style="opacity: 1; transform: translate(0px, 0px);"></div>
              <div class="reports-tbody" style="opacity: 1; transform: translate(0px, 0px);">
                <h2 class="ant-typography">填写举报内容</h2>
                <div id="reporterInfo" class="cardWrap___1n8m1">
                  <div class="ant-card ant-card-bordered">
                    <div class="ant-card-head">
                      <div class="ant-card-head-wrapper">
                        <div class="ant-card-head-title">举报人基本信息</div>
                      </div>
                    </div>
                    <div class="ant-card-body">
                      <div class="reporterFormWrap___1nIhF">
                        <form id="name-reporterInfoForm" class="ant-form ant-form-vertical">
                          <div class="ant-form-item">
                            <div class="ant-row ant-form-item-row">
                              <div class="ant-col ant-form-item-control">
                                <div class="ant-form-item-control-input">
                                  <div class="ant-form-item-control-input-content">
                                    <div class="ant-radio-group ant-radio-group-outline" id="name-reporterInfoForm_isAnonymous"><label class="ant-radio-wrapper ant-radio-wrapper-checked ant-radio-wrapper-in-form-item"><span class="ant-radio ant-radio-checked"><input class="ant-radio-input" type="radio" value="0" checked=""><span class="ant-radio-inner"></span></span><span>实名举报</span></label><label class="ant-radio-wrapper ant-radio-wrapper-in-form-item"><span class="ant-radio"><input class="ant-radio-input" type="radio" value="1"><span class="ant-radio-inner"></span></span><span>匿名举报</span></label></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ant-row" style="margin-left: -25px; margin-right: -25px;">
                            <div class="ant-col ant-col-11" style="padding-left: 25px; padding-right: 25px;">
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reporterInfoForm_name" class="ant-form-item-required" title="姓名">姓名</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><input maxlength="100" placeholder="姓名" id="name-reporterInfoForm_name" aria-required="true" class="ant-input" type="text" value=""></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ant-col ant-col-11" style="padding-left: 25px; padding-right: 25px;">
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reporterInfoForm_mail" class="ant-form-item-required" title="邮箱">邮箱</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><input maxlength="100" placeholder="示例：xxx@abc.com" id="name-reporterInfoForm_mail" aria-required="true" class="ant-input" type="text" value=""></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ant-col ant-col-2" style="padding-left: 25px; padding-right: 25px;"></div>
                          </div>
                          <div class="ant-row" style="margin-left: -25px; margin-right: -25px; margin-bottom: 24px;">
                            <div class="ant-col ant-col-11" style="padding-left: 25px; padding-right: 25px;">
                              <div class="ant-form-item marginBottom-0">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reporterInfoForm_phone" class="ant-form-item-required" title="电话">电话</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><input maxlength="30" placeholder="电话" id="name-reporterInfoForm_phone" aria-required="true" class="ant-input" type="text" value=""></div>
                                    </div>
                                  </div>
                                </div>
                              </div><span class="reporterPhone-tips">示例：13012345678、0571-1234567、+12-34567890</span>
                            </div>
                            <div class="ant-col ant-col-11" style="padding-left: 25px; padding-right: 25px;">
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reporterInfoForm_contact" class="" title="其他联系方式">其他联系方式</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><input maxlength="200" placeholder="钉钉、旺旺、微信、QQ等联系方式" id="name-reporterInfoForm_contact" class="ant-input" type="text" value=""></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ant-col ant-col-2" style="padding-left: 25px; padding-right: 25px;"></div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="reportedStaffInfo" class="cardWrap___1n8m1">
                  <div class="ant-card ant-card-bordered">
                    <div class="ant-card-head">
                      <div class="ant-card-head-wrapper">
                        <div class="ant-card-head-title">被举报员工的基本信息</div>
                      </div>
                    </div>
                    <div class="ant-card-body">
                      <div class="reportedStaffFormWrap___Mhi1t">
                        <form id="name-reportedStaffInfoForm" class="ant-form ant-form-vertical">
                          <div class="ant-row" style="margin-left: -25px; margin-right: -25px;">
                            <div class="ant-col ant-col-11" style="padding-left: 25px; padding-right: 25px;">
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reportedStaffInfoForm_name" class="" title="员工姓名">员工姓名</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><input maxlength="100" placeholder="员工姓名" id="name-reportedStaffInfoForm_name" class="ant-input" type="text" value=""></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ant-col ant-col-11" style="padding-left: 25px; padding-right: 25px;">
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reportedStaffInfoForm_worknoNickname" class="" title="工号或花名">工号或花名</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><input maxlength="100" placeholder="员工工号或花名" id="name-reportedStaffInfoForm_worknoNickname" class="ant-input" type="text" value=""></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ant-col ant-col-2" style="padding-left: 25px; padding-right: 25px;"></div>
                          </div>
                          <div class="ant-row" style="margin-left: -25px; margin-right: -25px;">
                            <div class="ant-col ant-col-11" style="padding-left: 25px; padding-right: 25px;">
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reportedStaffInfoForm_department" class="" title="部门">部门</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><input maxlength="250" placeholder="员工所在部门" id="name-reportedStaffInfoForm_department" class="ant-input" type="text" value=""></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ant-col ant-col-2" style="padding-left: 25px; padding-right: 25px;"></div>
                          </div>
                          <div class="ant-col ant-col-22">
                            <div class="ant-form-item">
                              <div class="ant-row ant-form-item-row">
                                <div class="ant-col ant-form-item-control">
                                  <div class="ant-form-item-control-input">
                                    <div class="ant-form-item-control-input-content"><button type="button" class="ant-btn ant-btn-dashed ant-btn-block nwFieldBtn___1UyZR"><span role="img" aria-label="plus" class="anticon anticon-plus"><svg viewBox="64 64 896 896" focusable="false" data-icon="plus" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                            <path d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"></path>
                                            <path d="M192 474h672q8 0 8 8v60q0 8-8 8H160q-8 0-8-8v-60q0-8 8-8z"></path>
                                          </svg></span><span> 新增被举报的员工</span></button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="reportedBizOrgInfo" class="cardWrap___1n8m1">
                  <div class="ant-card ant-card-bordered">
                    <div class="ant-card-head">
                      <div class="ant-card-head-wrapper">
                        <div class="ant-card-head-title">被举报的商业组织基本信息</div>
                      </div>
                    </div>
                    <div class="ant-card-body">
                      <div class="reportedBizOrgFormWrap___2G1QS">
                        <form id="name-reportedBizOrgInfoForm" class="ant-form ant-form-vertical">
                          <div class="ant-form-item">
                            <div class="ant-row ant-form-item-row">
                              <div class="ant-col ant-form-item-control">
                                <div class="ant-form-item-control-input">
                                  <div class="ant-form-item-control-input-content">
                                    <div class="ant-radio-group ant-radio-group-outline" id="name-reportedBizOrgInfoForm_involvingBizOrg"><label class="ant-radio-wrapper ant-radio-wrapper-checked ant-radio-wrapper-in-form-item"><span class="ant-radio ant-radio-checked"><input class="ant-radio-input" type="radio" value="1" checked=""><span class="ant-radio-inner"></span></span><span>涉及商业组织</span></label><label class="ant-radio-wrapper ant-radio-wrapper-in-form-item"><span class="ant-radio"><input class="ant-radio-input" type="radio" value="0"><span class="ant-radio-inner"></span></span><span>不涉及商业组织</span></label></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ant-row" style="margin-left: -25px; margin-right: -25px;">
                            <div class="ant-col ant-col-11" style="padding-left: 25px; padding-right: 25px;">
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reportedBizOrgInfoForm_organizationName" class="" title="商家名称">商家名称</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><input maxlength="100" placeholder="商家公司或店铺名称" id="name-reportedBizOrgInfoForm_organizationName" class="ant-input" type="text" value=""></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ant-col ant-col-11" style="padding-left: 25px; padding-right: 25px;">
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reportedBizOrgInfoForm_companyLegalPerson" class="" title="人员姓名">人员姓名</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><input maxlength="100" placeholder="商家人员姓名" id="name-reportedBizOrgInfoForm_companyLegalPerson" class="ant-input" type="text" value=""></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ant-col ant-col-2" style="padding-left: 25px; padding-right: 25px;"></div>
                          </div>
                          <div class="ant-row" style="margin-left: -25px; margin-right: -25px;">
                            <div class="ant-col ant-col-11" style="padding-left: 25px; padding-right: 25px;">
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reportedBizOrgInfoForm_organizationType" class="" title="商家类型">商家类型</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content">
                                        <div class="ant-select ant-select-in-form-item ant-select-single ant-select-allow-clear ant-select-show-arrow">
                                          <div class="ant-select-selector"><span class="ant-select-selection-search"><input type="search" id="name-reportedBizOrgInfoForm_organizationType" autocomplete="off" class="ant-select-selection-search-input" role="combobox" aria-haspopup="listbox" aria-owns="name-reportedBizOrgInfoForm_organizationType_list" aria-autocomplete="list" aria-controls="name-reportedBizOrgInfoForm_organizationType_list" aria-activedescendant="name-reportedBizOrgInfoForm_organizationType_list_0" readonly="" unselectable="on" value="" style="opacity: 0;"></span><span class="ant-select-selection-placeholder">商家类型</span></div><span class="ant-select-arrow" unselectable="on" aria-hidden="true" style="user-select: none;"><span role="img" aria-label="down" class="anticon anticon-down ant-select-suffix"><svg viewBox="64 64 896 896" focusable="false" data-icon="down" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                <path d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path>
                                              </svg></span></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ant-col ant-col-11" style="padding-left: 25px; padding-right: 25px;">
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reportedBizOrgInfoForm_contact" class="" title="联系方式">联系方式</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><input maxlength="50" placeholder="商家联系方式" id="name-reportedBizOrgInfoForm_contact" class="ant-input" type="text" value=""></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ant-col ant-col-2" style="padding-left: 25px; padding-right: 25px;"></div>
                          </div>
                          <div>
                            <div class="ant-col ant-col-22">
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><button type="button" class="ant-btn ant-btn-dashed ant-btn-block nwFieldBtn___1UyZR"><span role="img" aria-label="plus" class="anticon anticon-plus"><svg viewBox="64 64 896 896" focusable="false" data-icon="plus" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                              <path d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"></path>
                                              <path d="M192 474h672q8 0 8 8v60q0 8-8 8H160q-8 0-8-8v-60q0-8 8-8z"></path>
                                            </svg></span><span> 新增被举报的商业组织</span></button></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="reportContent" class="cardWrap___1n8m1">
                  <div class="ant-card ant-card-bordered">
                    <div class="ant-card-head">
                      <div class="ant-card-head-wrapper">
                        <div class="ant-card-head-title">举报内容</div>
                      </div>
                    </div>
                    <div class="ant-card-body">
                      <div class="reportContentFormWrap___3JwEC">
                        <form id="name-reportContentForm" class="ant-form ant-form-vertical">
                          <div class="ant-row">
                            <div class="ant-col ant-col-22">
                              <div class="ant-form-item" style="margin-bottom: 0px;">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reportContentForm_subject" class="ant-form-item-required" title="举报标题">举报标题</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><input placeholder="请为此举报拟一个标题" maxlength="200" id="name-reportContentForm_subject" aria-required="true" class="ant-input" type="text" value=""></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content">
                                        <div style="text-align: right;">0/200</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ant-row">
                            <div class="ant-col ant-col-22">
                              <div class="ant-form-item" style="margin-bottom: 0px;">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reportContentForm_content" class="ant-form-item-required" title="举报内容">举报内容</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><textarea placeholder="请填写您要举报的内容" id="name-reportContentForm_content" aria-required="true" class="ant-input" style="height: 142px; resize: none; min-height: 142px;"></textarea></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content">
                                        <div style="text-align: right;">0/5000</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ant-row">
                            <div class="ant-col ant-col-22">
                              <div class="ant-form-item">
                                <div class="ant-row ant-form-item-row">
                                  <div class="ant-col ant-form-item-label"><label for="name-reportContentForm_reportAttachmentIds" class="" title="举证资料">举证资料</label></div>
                                  <div class="ant-col ant-form-item-control">
                                    <div class="ant-form-item-control-input">
                                      <div class="ant-form-item-control-input-content"><span class="report-upload-field">
                                          <div class="ant-upload ant-upload-select ant-upload-select-picture"><span tabindex="0" class="ant-upload" role="button"><input aria-describedby="name-reportContentForm_reportAttachmentIds_extra" id="name-reportContentForm_reportAttachmentIds" type="file" accept=".gif,.jpg,.png,.jpeg,.bmp,.doc,.ppt,.xls,.xlsx,.docx,.pptx,.zip,.rar,.pdf" style="display: none;"><button type="button" class="ant-btn ant-btn-default"><span role="img" aria-label="upload" class="anticon anticon-upload"><svg viewBox="64 64 896 896" focusable="false" data-icon="upload" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                    <path d="M400 317.7h73.9V656c0 4.4 3.6 8 8 8h60c4.4 0 8-3.6 8-8V317.7H624c6.7 0 10.4-7.7 6.3-12.9L518.3 163a8 8 0 00-12.6 0l-112 141.7c-4.1 5.3-.4 13 6.3 13zM878 626h-60c-4.4 0-8 3.6-8 8v154H214V634c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v198c0 17.7 14.3 32 32 32h684c17.7 0 32-14.3 32-32V634c0-4.4-3.6-8-8-8z"></path>
                                                  </svg></span><span> 上传文件</span></button></span></div>
                                          <div class="ant-upload-list ant-upload-list-picture"></div>
                                        </span></div>
                                    </div>
                                    <div id="name-reportContentForm_reportAttachmentIds_extra" class="ant-form-item-extra">附件最大为20M，可上传格式为gif、jpg、png、jpeg、bmp、doc、ppt、xls、xlsx、docx、pptx、zip、rar、pdf</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-group___1MI3l"><button type="button" class="ant-btn ant-btn-default ant-btn-lg"><span>返回上一页</span></button><button type="button" class="ant-btn ant-btn-primary ant-btn-lg"><span>提交举报</span></button></div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="ant-layout-footer site-footer text-align-center">
        <div class="footer-content">Powered by 得一智能科技 © 2025 得一智能科技有限公司版权所有</div>
      </footer>
    </section>
  </div>
</body>

</html>