<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Voxes - A Fresh Mobile Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="HandheldFriendly" content="True">
  <link rel="stylesheet" href="css/materialize.css">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/owl.theme.css">
  <link rel="stylesheet" href="css/owl.transitions.css">
  <link rel="stylesheet" href="css/fakeLoader.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/favicon.png">
</head>

<body class="login-register-wrap">
  <!-- login register -->
  <div class="login-register-wrap-home">
    <div class="container">
      <div class="content">
        <h1>V</h1>
        <h6>Voxes Mobile Template</h6>
        <form action="">
          <input type="email" placeholder="Email" class="validate" required>
          <input type="password" placeholder="password">
          <span><a href="home.html">Forgot Password?</a>
          </span><a class="button-default" href="home.html">Sign in</a>
          <h6>Don't hava an account ? <a href="register.html">Sign up</a></h6>
        </form>
      </div>
    </div>
  </div><!-- end login register -->
  <!-- scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/contact-form.js"></script>
  <script src="js/fakeLoader.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>