<!DOCTYPE html>
<html>

<head>
  <title>标准检索</title>
  <!-- 收藏用logo图标 -->
  <link rel="bookmark" type="image/x-icon" href="/static/img/elastic.ico" />
  <!-- 网站显示页logo图标 -->
  <link rel="shortcut icon" href="/static/img/elastic.ico">
  <!-- KRAJEE EXPLORER THEME (ADVANCED) -->
  <!-- <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon"> -->
  <link rel="stylesheet" type="text/css" href="/static/elastic/style.css">
  <style type="text/css">
  img {
    -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .5));
    /*考虑浏览器兼容性：兼容 Chrome, Safari, Opera */
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .5));
  }
  </style>
</head>

<body>
  <div v-bind:class="{loading:state.loading}" id="app" v-cloak>
    <div id="search-form">
      <form v-on:submit.prevent="">
        <input v-model.lazy="query" type="text" size="50" placeholder="Search...">
      </form>
      <p class="total"><span class="label"># results/</span><span v-html="total" class="content">{{ .total }}</span></p>
    </div>
    <div v-if="total < 1 && !state.loading" class="no-results">
      <p>Sorry, no results for your query&hellip;</p>
    </div>
    <div v-for="result in results" v-bind:id="result.id" :key="result.id" class="result">
      <h2>
        <span v-html="result.title" class="title"></span>
        <span v-html="result.published" class="published"></span>
        <span v-html="result.author.first_name" class="published"></span>
        <!-- <span v-html="result.body" class="published"></span> -->
        {{/* /{{ result.published }}/*/}}
      </h2>
      <div class="highlights">
        {{/* <p v-show="result.alt" class="alt">*/}}
          <p v-show="result.body" class="alt">
            <span class="label">Alt/</span>
            {{/* <span v-html="result.alt" class="content"></span>*/}}
            <span v-html="result.body" class="content"></span>
          </p>
          <p v-show="result.transcript" class="transcript">
            <span class="label">Transcript/</span>
            <span v-html="result.transcript" class="content"></span>
          </p>
      </div>
      <a v-bind:href="result.url" v-bind:title="result.alt" target="_blank">
        <img v-bind:src="result.image_url" v-bind:alt="result.alt" v-on:mouseover="toggle($event)" v-on:mouseout="toggle($event)">
      </a>
    </div>
    <p v-show="state.fetching" id="loading-results">Loading results...</p>
    <p v-show="state.loading" id="loading-app">Loading the application...</p>
    <p v-if="state.error" id="app-error" v-html="[state.error.status]">[{{ .state.error.status }}] {{ .state.error.statusText }}</p>
  </div>
  <a href="https://github.com/elastic/go-elasticsearch/tree/master/_examples/xkcdsearch" title="See the source code at GitHub" style="position: fixed; top: 0; right: 0; border: 0; display: inline-block;">
    <img src="/static/elastic/assets/images/github-ribbon.svg" width="50px" height="50px" alt=""></a>
  <a href="https://xkcd.com/license.html" style="position: fixed; bottom: 0; right: 0; border: 0; display: inline-block;">
    <img src="https://mirrors.creativecommons.org/presskit/buttons/80x15/png/by-nc.png" height="15px"></a>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="/static/elastic/vue.js"></script>
  <script src="/static/elastic/application_standard.js"></script>
</body>

</html>
<!-- vue.js提示Vue is not a constructor或Vue.createApp is not a function解决方法 -->
<!-- /*Vue 3*/
Vue.createApp({
  data() {
    return {
      items: [{ message: 'Foo' }, { message: 'Bar' }]
    }
  }
}).mount('#array-rendering')

/*Vue 2*/
var example1 = new Vue({
  el: '#example-1',
  data: {
    items: [
      { message: 'Foo' },
      { message: 'Bar' }
    ]
  }
}) -->